@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;700&display=swap');
body {
    color: #272727;
    font-family: 'M PLUS 1p', "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* [ヘッダー] */

/* 固定メニュー */

#page-head .menu-fix-container {
    background-color: rgba(255, 255, 255, 0.90);
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#page-head .menu-fix-container .menu-fix {
    width: 1040px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

#page-head .menu-fix-container .menu-fix:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .menu-fix-container .menu-fix .menu-fix-logo img {
    width: 170px;
    height: 36.25px;
    float: left;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right {
    float: right;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .menu-fix-tel {
    float: left;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .menu-fix-tel ul {
    margin: 0;
    padding: 0;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .menu-fix-tel ul li {
    float: left;
    list-style: none;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .menu-fix-tel ul li:nth-child(1) {
    padding-top: 10px;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .menu-fix-tel ul li:nth-child(2) {
    margin-left: 10px;
    padding-top: 5px;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .menu-fix-tel ul li img {
    width: 190px;
    height: 21.52px;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .menu-fix-tel ul li span {
    color: #8D959C;
    font-size: 11px;
    display: block;
    line-height: 1.5;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .contact-navi {
    float: right;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .contact-navi ul {
    margin: 0;
    padding: 0;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .contact-navi ul li {
    float: left;
    list-style: none;
    width: 170px;
    height: 40px;
    margin-left: 10px;
    border: solid 1px #000066;
    background-color: rgba(255, 255, 255, 0.90);
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .contact-navi ul li a {
    color: #1F286F;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/icon_arrow01_right_blue01.png);
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: 95% 50%;
}

#page-head .menu-fix-container .menu-fix .menu-fix-container-right .contact-navi ul li a:hover {
    background-color: #000066;
    color: #FFFFFF;
    background-image: url(../images/icon_arrow01_right_white01.png);
}

/* ヘッダーナビ */

#page-head .head-navi-container {
    background-color: #F7F7F7;
    height: 32px;
    position: relative;
    z-index: 2;
}

#page-head .head-navi-container .head-navi {
    width: 1040px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

#page-head .head-navi-container .head-navi:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .head-navi-container .head-navi .page-suffix {
    margin: 0;
    padding: 8px 0 3px;
    font-size: 11px;
    float: left;
}

#page-head .head-navi-container .head-navi .head-navi-list-container {
    float: right;
}

#page-head .head-navi-container .head-navi .head-navi-list-container:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .head-navi-list {
    float: left;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .head-navi-list ul {
    margin: 0;
    padding: 0;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .head-navi-list ul:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .head-navi-list ul li {
    float: left;
    list-style: none;
    border-left: solid 1px #676767;
    height: 12px;
    margin: 10px 0;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .head-navi-list ul li:nth-child(1) {
    border-left: none;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .head-navi-list ul li a {
    color: #676767;
    text-decoration: none;
    padding: 0 8px;
    font-size: 11px;
    display: block;
    vertical-align: center;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .head-navi-list ul li a:hover {
    text-decoration: underline;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .student-login-btn {
    float: right;
    color: #000066;
    text-decoration: none;
    background-color: #D9D9D9;
    font-size: 11px;
    text-align: right;
    display: block;
    width: 118px;
    height: 32px;
    background-image: url("../images/icon_site_mark01.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 10% 50%;
    box-sizing: border-box;
    padding: 10.5px 10px;
}

#page-head .head-navi-container .head-navi .head-navi-list-container .student-login-btn:hover {
    text-decoration: underline;
}

/* サイトタイトルロゴ行 */

#page-head .site-title-container {
    width: 1040px;
    height: 53px;
    padding: 20px 0;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
}

#page-head .site-title-container:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .site-title-container .site-title-logo {
    margin: 0;
    padding: 0;
    float: left;
}

#page-head .site-title-container .site-title-logo a img {
    width: 211px;
    height: 45px;
}

#page-head .site-title-container .site-title-right-container {
    float: right;
}

#page-head .site-title-container .site-title-right-container:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .site-title-container .site-title-right-container .tel-image {
    margin: 0;
    padding: 0;
    float: left;
}

#page-head .site-title-container .site-title-right-container .tel-image li {
    list-style: none;
    color: #8D959C;
    font-size: 11px;
    text-align: center;
}

#page-head .site-title-container .site-title-right-container .tel-image li img {
    width: 210px;
    height: 28.63px;
    margin-bottom: 4px;
}

#page-head .site-title-container .site-title-right-container .sns-link-small {
    margin: 0;
    padding: 10px 0 10px 26px;
    float: right;
}

#page-head .site-title-container .site-title-right-container .sns-link-small li {
    list-style: none;
    float: left;
    margin-left: 8px;
}

#page-head .site-title-container .site-title-right-container .sns-link-small li a img {
    width: 30px;
    height: 30px;
}

#page-head .site-title-container .site-title-right-container .sns-link-small li a img:hover {
    opacity: 0.7;
}

/* グローバルナビ */

#page-head .global-navi-container {
    width: 1040px;
    height: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
}

#page-head .global-navi-container:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .global-navi-container .global-navi {
    float: left;
}

#page-head .global-navi-container .global-navi ul {
    margin: 0;
    padding: 5px 0 0 0;
}

#page-head .global-navi-container .global-navi ul:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .global-navi-container .global-navi ul li {
    float: left;
    list-style: none;
    border-right: solid 1px #DCDDDD;
    width: 158px;
    height: 31px;
    text-align: center;
}

#page-head .global-navi-container .global-navi ul li:nth-child(1) {
    border-left: solid 1px #DCDDDD;
    position: relative;
}

#page-head .global-navi-container .global-navi ul li:nth-child(1):after {
    content: "▲";
    font-size: 2px;
    position: absolute;
    left: 0;
    bottom: -28px;
    left: 45%;
    color: #181836;
}

#page-head .global-navi-container .global-navi ul li a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    position: relative;
}

#page-head .global-navi-container .global-navi ul li a:hover {
    color: #1F286F;
}

#page-head .global-navi-container .global-navi ul li a span {
    color: #8D959C;
    font-weight: bold;
    font-size: 5px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
}

#page-head .global-navi-container .global-navi ul li a span:hover {
    color: #1F286F;
}

#page-head .global-navi-container .global-navi ul li:nth-child(1) a {
    color: #1F286F;
}

#page-head .global-navi-container .global-navi ul li:nth-child(1) a span {
    color: #1F286F;
}

#page-head .global-navi-container .contact-navi {
    float: right;
}

#page-head .global-navi-container .contact-navi ul {
    margin: 0;
    padding: 0;
}

#page-head .global-navi-container .contact-navi ul:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .global-navi-container .contact-navi ul li {
    float: left;
    list-style: none;
    width: 170px;
    height: 40px;
    margin-left: 10px;
    border: solid 1px #000066;
    background-color: rgba(255, 255, 255, 0.90);
}

#page-head .global-navi-container .contact-navi ul li a {
    color: #1F286F;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/icon_arrow01_right_blue01.png);
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: 95% 50%;
}

#page-head .global-navi-container .contact-navi ul li a:hover {
    background-color: #000066;
    color: #FFFFFF;
    background-image: url(../images/icon_arrow01_right_white01.png);
}

/* サブナビ */

#page-head .sub-navi-container {
    background-color: #181836;
}

#page-head .sub-navi-container .sub-navi {
    max-width: 1040px;
    min-height: 74px;
    margin: 0 auto;
    padding: 10px 10px 4px 10px;
}

#page-head .sub-navi-container .sub-navi ul {
    margin: 0;
    padding: 0;
}

#page-head .sub-navi-container .sub-navi ul:after {
    content: "";
    clear: both;
    display: block;
}

#page-head .sub-navi-container .sub-navi ul li {
    float: left;
    list-style: none;
    height: 33px;
    margin: 0 0 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-head .sub-navi-container .sub-navi ul li:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 16px;
    margin: 0 0 3px;
    background-image: url(../images/icon_backslash01_black01.png);
    background-repeat: no-repeat;
    background-size: 10px;
    vertical-align: middle;
}

#page-head .sub-navi-container .sub-navi ul li:nth-child(1):before {
    content: none;
}

#page-head .sub-navi-container .sub-navi ul li a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 7px;
    padding: 7px;
    font-size: 14px;
}

#page-head .sub-navi-container .sub-navi ul li a:hover {
    background-color: #FFFFFF;
    color: #1F286F;
}

/* ページボディ */
/* メインビジュアル部分 */

#page-body-main .main-visual-container {
    position: relative;
}

#page-body-main .main-visual-container .page-title-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#page-body-main .main-visual-container .page-title-container .page-title {
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 300;
    letter-spacing: 0.3em;
    margin: 0;
    line-height: 1.78;
}

#page-body-main .main-visual-container .page-title-container span {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    width: 200px;
    padding-top: 30px;
    border-top: 1px solid #FFFFFF;
}

#page-body-main .main-visual-container .main-visual {
    width: 100%;
    height: 470px;
    object-fit: cover;
}

/* パンくずナビ */
/* 以下、横並びデザインはフレックスボックスを使用。 */

#page-body-main .topic-path-container {
    border-bottom: 1px solid #E1E1E1;
}

#page-body-main .topic-path-container .topic-path {
    width: 1040px;
    padding: 20px 10px 18px;
    margin: 0 auto;
}

#page-body-main .topic-path-container .topic-path ol {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

#page-body-main .topic-path-container .topic-path ol li {
    font-size: 14px;
    padding-right: 4px;
}

#page-body-main .topic-path-container .topic-path ol li:nth-child(2):before {
    content: ">";
    padding-right: 4px;
}

#page-body-main .topic-path-container .topic-path ol li a {
    color: #36538D;
    text-decoration: none;
}

#page-body-main .topic-path-container .topic-path ol li a:hover {
    text-decoration: underline;
}